body {
	font-family: 'Manrope', sans-serif;
	color: #374759;
	background-color: #FAFAFA;
}
p, h1, h2, h3, h4, h5 {
	margin: 0;
}

p {
	font-size: 14px;
}

h4 {
	font-size: 28px;
	color: #374759;
	font-weight: 700;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: 0;
}

button:active {

  transform: scale(.99);
}

.black-header {
	background-color: #1C2733;
	padding: 9px 0;
	color: #fff;
}

.white-header {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	background-color: #fff;
}

.inner-black {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inner-black a {
	color: #fff;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 500;
}

.inner-black p {
	font-size: 12px;
}

.inner-black .mobile img {
	width: 19px;
	margin-right: 12px;
}

.inner-black .cart-section {
	display: flex;
	align-items: center;
}

.inner-black .cart-section .cart-icon {
	margin-right: 25px;
	width: 24px;
}

.inner-black .cart-section .search-input {
	position: relative;
}

.inner-black .cart-section input {
	background: #FFFFFF;
	border-radius: 4px;
	font-size: 13px;
	padding: 6px 12px;
	border: 0;
}

.inner-black .cart-section .search-icon {
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;
}

.inner-white {
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}

.inner-white a {
	font-weight: 500;
	font-size: 14px;
	color: #374759;
	margin: 0 12px;
}

.inner-white a:hover {
	color: #32CC8B;
	text-decoration: none;
}

.right-side .green-btn-outline {
	border: 1.5px solid #32CC8B;
	border-radius: 7px;
	outline: none;
	color: #32CC8B;
	font-size: 16px;
	font-weight: 700;
	padding: 8px 20px;
	background-color: #fff;
}

.slider {
	width: 100%;
	height: 600px;
	background: url('../images/slide-img-1.png') no-repeat center / cover;
	position: relative;
}

.slider:nth-child(2) {
	background: url('../images/bg-img-2.png') no-repeat center / cover;
}
.slider:nth-child(3) {
	background: url('../images/bg-img-3.png') no-repeat center / cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	width: 80px;
	height: 80px;
	background: url("../images/bullet-img-1.png") no-repeat center;
	margin: 0 15px;
	opacity: unset;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2) {
	background: url("../images/bullet-img-2.png") no-repeat center;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2) {
	background: url("../images/bullet-img-3.png") no-repeat center;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #FFFFFF;
}
.swiper-bg {
	position: relative;
}

.slider-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 0
}

.slider-ex {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

.slider-ex h1 {
	font-weight: 600;
	font-size: 36px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	z-index: 1;
	padding-bottom: 5px;
}

.slider-ex h5 {
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.green-btn {
	padding: 12px 15px;
	background: #32CC8B;
	border-radius: 7px;
	display: flex;
	align-items: center;
	z-index: 1;
}

.green-btn:focus {
	outline: none;
}

.green-btn img {
	margin-left: 18px;
}

.green-btn span {
	font-weight: 500;
	font-size: 16px;
	color: #fff;
}

.about {
	background-color: #fff;
}

.about-us {
	padding-top: 100px;
}

.about-us-title .line {
	background-color: #32CC8B;
	width: 80px;
	height: 2px;
	margin-top: 5px;
}

.about-us-item {
	width: 65%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

.about-us-item img {
	margin-right: 40px;
}

.about-us-item p {
	padding-bottom: 15px;
}

.a-second {
	margin-left: 80px;
}

.a-third {
	margin-left: 160px;
}

.a-four {
	margin-left: 240px;
}

.about-us-first {
	background: url('../images/img-1.svg') no-repeat 0% 90%;
}

.products {
	padding: 100px 0;
	background-color: #FAFAFA;
}

.title {
	text-align: center;
	margin-bottom: 10px;
}

.card {
	width: 100%;
	border-radius: 10px;
	margin-top: 30px;
	border: 0;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
}

.card-img {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	position: relative;
}

.card-img img {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
}

.card-img .code {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	color: #fff;
	padding: 4px 8px;
	background: rgba(28, 39, 51, 0.8);
	border-radius: 12px;
}

.card-img .price {
	background: rgba(28, 39, 51, 0.8);
	border-radius: 5px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	padding: 8px;
}

.card-img .old-price {
	font-size: 12px;
	color: #fff;
}

.card-img .old-price span {
	color: #EBD513;
	text-decoration: none;
	font-weight: 600;
	padding-left: 10px;
}

.card-img .old-price .old {
	text-decoration: line-through;
	font-weight: 400;
	padding-left: 0;
	color: #fff;
}



.card-img .new-price {
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
	padding-top: 3px;
}

.card-info {
	padding: 10px;
}

.card-title {
	font-weight: 500;
	font-size: 14px;
	color: #374759;
	padding-bottom: 15px;
	margin: 0;
}

.card-footer {
	padding: 12px 0;
	border-top: 0.5px solid #E0E0E0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.card-footer .call {
	display: flex;
	align-items: center;
}

.card-footer .call a {
	color: #32CC8B;
	font-weight: 500;
	font-size: 14px;
	margin-left: 6px;
}

.card-footer .call a:hover {
	text-decoration: none;

}

.green-btn .white-img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-left: 15px;
}

.green-btn .white-img img {
	margin: 0;
}

.green-btn-products {
	margin: 50px auto;
}

.schedule {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	padding: 20px 30px 15px 30px;
}

.schedule img {
	margin-right: 13px;
}
.schedule .sc-title {
	color: #374759;
	font-weight: 600;
	font-size: 20px;
}

.schedule .table {
	margin: 0;
}

.schedule .table-item {
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
}

.map-img {
	width: 100%;
}

.schedule-title {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}

.shedule-text {
	margin-bottom: 40px;
	margin-top: 100px;
}

.call-back {
	background: #FFFFFF;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 180px 0;
	flex-direction: column;
}

.call-back  h3 {
	color: #374759;
	font-size: 36px;
	margin-bottom: 40px;
	font-weight: 700;
}
.call-back .green-btn {
	width: 200px;
}

.pay-info {
	padding: 100px 0;
	background: #FAFAFA url('../images/bg-img-1.svg') no-repeat 90% 90%;
}
.pay-info .title {
	margin-bottom: 50px;
}

.pay-item {
	display: flex;
	width: 90%;
	align-items: center;
	margin-bottom: 15px;
}

.pay-item h5 {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
}

.pay-item p {
	font-size: 14px;
}
.pay-item img {
	margin-right: 30px;
}

.pay-item .pay-item-right {
	padding-bottom: 15px;
}

.pay-info .pay-text {
	width: 60%;
	margin: 30px auto 0 auto;
	text-align: center;
}

.feedback {
	padding: 60px 0;
	background-color: #fff;
}

.title-arr {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-arr .title {
	margin: 0;
	padding-right: 25px;
}

.title-arr .swiper-pagination {
	display: flex;
	align-items: center;
	color: #32CC8B;
	position: unset;
}

.title-arr .pagination .swiper-pagination-current {
	color: #32CC8B;
	font-size: 24px;
	font-weight: 700;
	margin-left: 15px;
	margin-right: 4px;
}

.title-arr .pagination .swiper-pagination-total {
	color: #32CC8B;
	opacity: 0.5;
	margin-right: 15px;
	padding-top: 7px;
	margin-left: 4px;
}
.title-arr .pagination .prev {
	transform: rotate(180deg);
	cursor: pointer;
}

.title-arr .pagination .next {
	cursor: pointer;
}

.title-text {
	width: 60%;
	margin: 25px auto 50px auto;
	text-align: center;
	font-size: 18px;
}
.swiper-feed .swiper-wrapper {
	width: calc(100% + 14px);
	padding: 5px;
	margin-left: -1px;
	overflow: hidden;
}
.feed {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
	border-radius: 24px;
	width: 95%;
	padding: 30px;
	height: 280px;
}

.feed .feed-title {
	display: flex;
	align-items: center;
}

.feed .feed-title h5 {
	font-weight: 600;
	font-size: 20px;
	margin-left: 20px;
}

.feed .feed-text {
	margin-top: 20px;
	color: #848484;
	font-style: italic;
	font-size: 14px;
}

.partners {
	background-color: #FAFAFA;
	padding: 100px 0;
}

.partners-list {
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.partner-title {
	font-size: 20px;
	font-weight: 500;
}

.partners-list  img {
	margin-right: 50px;
}
.footer {
	padding: 40px 0 60px 0;
	background-color: #1C2733;
}
.footer-item {
	width: 100%;
	color: #ffffff;
}

.footer-item p {
	font-size: 16px;
}
.footer-item a {
	color: #fff;
	text-decoration: none;
	display: block;
}


.footer-item .foot-item {
	margin-bottom: 20px;
}

/*O nas - start*/
.section-header {
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
}

.sec-first-pole {
    height: 520px;
    background-image: url("../images/onas/pole.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
    background-color: #FAFAFA
}
.onas-info {
    background-color: #fff;
    padding: 20px 25px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 50%;
}
.onas-info-title {
    color: #32CC8B;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.onas-info-title:before {
    content: url("../images/onas/trophy.png");
    margin-right: 13px;
    margin-bottom: -5px;
}
.onas-info-desc {
    font-weight: 600;
    margin-top: 16px;
    font-size: 16px;
    margin-bottom: 30px;
}
.onas-info-body {
    padding-left: 15px;
    border-left: 2px solid #32CC8B;
    margin-bottom: 50px;
    font-size: 16px;
}

.sec-stroitelsvo-sport {
	padding-top: 115px;
	background-color: #FAFAFA;
	padding-bottom: 120px;
}
.sec-stroitelsvo-sport .section-header {
	margin-bottom: 70px;
}
.arena-img {
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.sec-kachestvo-prof {
	padding-bottom: 160px;
	padding-top: 50px;
	background-color: #fff;
}
.sec-kachestvo-prof .section-header {
	margin-bottom: 120px;
}
.pokazateli-number {
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	color: #7766E1;
	font-size: 48px;
}
.pokazateli-desc {
	margin-top: 35px;
	padding: 0 15px;
}

.sec-preimushestvo-sotrud {
	background-color: #FAFAFA;
	padding-top: 120px;
	padding-bottom: 120px;
}
.sec-preimushestvo-sotrud .section-header {
	margin-bottom: 100px;
}
.advantage-title {
	font-size: 18px;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}
.advantage-odd {
	padding-top: 135px;
}

.sec-detalnaia-inform {
	background-color: #fff;
	padding-top: 127px;
	padding-bottom: 127px;
}
.detail-info-text {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}
.detail-info-btn {
	margin: 0 auto;
}
.detail-info-btn span {
	font-weight: bold;
}

@media (max-width: 991.98px) {
    .sec-first-pole {
        height: auto;
        padding-top: 50px;
    }
    .onas-info {
        width: 75%;
    }
    .arena-img {
        width: 100%;
    }
    .pokazateli-desc {
        padding: 0;
    }
}
@media (max-width: 767.98px) {
    .onas-info {
        width: 100%;
    }
    .stroi-text {
        margin-bottom: 2rem;
    }
    .pokazateli-desc {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .sec-kachestvo-prof {
        padding-bottom: 70px;
    }
    .advantage-odd {
         padding-top: 0;
    }
    .advantage-desc {
        margin-bottom: 60px;
    }
    .sec-preimushestvo-sotrud {
        padding-bottom: 90px;
    }
}
@media (max-width: 575.98px) {
    .sec-first-pole {
        background-image: url("../images/onas/pole2.png");
        padding-top: 0;
        margin-bottom: 60%;
    }
    body {
        background-color: #FAFAFA;
    }
    .onas-info {
        transform: translateY(83%);
    }
    .sec-stroitelsvo-sport {
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .sec-stroitelsvo-sport .section-header {
        margin-bottom: 30px;
    }
    .sec-kachestvo-prof {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    .sec-kachestvo-prof .section-header {
        margin-bottom: 60px;
    }
    .pokazateli-desc {
        padding: 0 10%;
    }
    .sec-preimushestvo-sotrud .section-header {
        margin-bottom: 60px;
    }
    .sec-preimushestvo-sotrud {
        padding-bottom: 30px;
    }
    .sec-detalnaia-inform {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .detail-info-text {
        font-size: 16px;
    }
    .detail-info-text {
        margin-bottom: 25px;
    }
}
@media (max-width: 519.98px) {
    .sec-first-pole {
        height: 290px;
        margin-bottom: 80%;
    }
    .onas-info-body {
        margin-bottom: 0;
    }
}
@media (max-width: 414.98px) {
    .onas-info-desc {
        margin-bottom: 25px;
        font-size: 13px;
    }
    .onas-info-body {
        font-size: 12px;
        padding-left: 10px;
    }
    .onas-info {
        padding: 15px 15px;
    }
    .sec-first-pole {
        margin-bottom: 70%;
    }
}
@media (max-width: 340px) {
    .sec-first-pole {
        margin-bottom: 85%;
    }
}
/*O-nas - end*/

/*--------------- Tovari i Uslugi - start------------------------*/

.top-main {
	padding: 60px 0;
}

.gaz-title {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}
.gaz-title p {
	color: #C4C4C4;
	margin-left: 10px;
}

.top-main h5 {
	font-size: 18px;
	padding-bottom: 30px;
}

.advantage {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.advantage .amount {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #32CC8B;
	font-size: 14px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 12px;
}

.iss-info {
	margin-top: 40px;
}

.iss-info .green-line{
	width: 160px;
	height: 2px;
	background-color: #32CC8B;
	margin-bottom: 5px;
}

.advantages-section {
	background-color: #FAFAFA;
	padding-top: 100px;
}
.advantages-section .title {
	margin-bottom: 20px;
	text-align: center;
}

.advantages-section p {
	text-align: center;
}

.advantages-section .green-line {
	width: 160px;
	height: 2px;
	background-color: #32CC8B;
	margin: 40px auto 5px auto;
}

.advantages-trava {
	padding-top: 80px;
}

.adv-card {
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02);
	border-radius: 30px;
	width: 100%;
	padding: 25px;
	height: 245px;
	background-color: #fff;
	margin-bottom: 30px;
}

.adv-card .count {
	color: #32CC8B;
	font-weight: 800;
	font-size: 36px;
	margin-bottom: 14px;
}

.advantages-trava p {
	text-align: left;
}

.last-info {
	background-color: #FAFAFA;
	padding: 100px 0;
}

.last-info .title{
	margin-bottom: 70px;
}

.last-info-item {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.last-info-item h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
}
.last-info-item p {
	text-align: center;
}

.we-recommend {
	background-color: #FAFAFA;
	padding-bottom: 100px;
}

.we-recommend-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.we-recommend-title .text-title {
	font-weight: 500;
	font-size: 20px;
}

.we-recommend-title .arrows {
	display: flex;
	align-items: center;
}
.we-recommend-title .arrows .swiper-button-disabled {
	background-color: rgba(224, 224, 224, 0.3);
}

.we-recommend-title .arrows .swiper-button-disabled img {
	filter: unset;
}

.arrows .left-arrow, .arrows .right-arrow {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #32CC8B;
}

.we-recommend-title .arrows .left-arrow {
	margin-right: 12px;
}
.we-recommend-title .arrows .right-arrow {
	transform: rotate(180deg);
}


.arrows .right-arrow img, .arrows .left-arrow img {
	filter:  brightness(0) invert(1);
}

@media (max-width: 750px) {
	.advantages-section {
		padding-top: 0;
	}
	.advantages-trava {
		padding-top: 40px;
	}
	.mob-iss-image {
		margin-top: 20px;
		width: 100%;
	}
	.last-info-item {
		margin: 15px 0;
	}
	.last-info .title {
		margin-bottom: 30px;
	}
	.last-info {
		padding: 50px 0;
	}
}
/*--------------- Tovari i Uslugi - end------------------------*/

/*Contacts - start*/
.sec-karta {
	padding-top: 60px;
	background-color: #FAFAFA;
	padding-bottom: 30px;
}
.sec-karta .section-header {
	margin-bottom: 40px;
}
.karta-self {
	border-radius: 15px;
	overflow: hidden
}
.karta-info {
	padding: 15px 20px;
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	margin-top: -30px;
}
.karta-info-label {
	color: #C4C4C4;
	font-weight: normal;
	margin-bottom: 5px;
}
.karta-info-title {
	font-weight: 500;
}
.karta-line {
	width: 2px;
	background-color: #E0E0E0;
}

.sec-contact-inform {
	background-color: #FAFAFA;
}
.contact-inform {
	background: #FFFFFF;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	padding: 20px 25px;
	margin-bottom: 30px;
}
.contact-inform-header {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.contact-inform-header:before {
    content: url("../images/contacts/Info.png");
    margin-bottom: -3px;
    margin-right: 12px;
}
.contact-desc {
    margin-left: 8px;
    /*border-left: 2px solid #E0E0E0;*/
    padding-left: 20px;
    position: relative;
}
.contact-desc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% - 50px);
    background-color: #E0E0E0;
    left: -2px;
    top: 5px;
}
.contact-desc-title {
    font-size: 18px;
    color: #374759;
    margin-bottom: 6px;
    position: relative;
}
.contact-desc-title:before {
    content: url("../images/contacts/Ellipse.png");
    position: absolute;
    left: -29px;
}
.contact-desc-body {
    color: #374759;
    margin-bottom: 30px;
}
@media (max-width: 991.98px) {
	.karta-line {
		width: 100%;
		height: 2px;
	}
}
@media (max-width: 767.98px) {
	.karta-info {
		margin-top: 15px;
	}
	.karta-self {
		height: 350px;
	}
	.sec-karta {
		padding-bottom: 60px;
	}
	.sec-contact-inform {
		background-color: #fff;
	}
	.contact-inform {
		box-shadow: none;
		padding: 25px 0 30px 0;
		margin-bottom: 0;
	}
}
/*Contacts - end*/
/*Oplata - start*/
.sec-pospewi-sdelat {
	height: 582px;
	background-image: url("../images/oplata/box.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position-y: bottom;
	padding-top: 195px;
}
.pospewi-header {
	color: #fff;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	font-size: 40px;
	font-weight: 600;
	position: relative;
}
.pospewi-header:before {
	content: "";
	background-image: url("../images/oplata/subtract.png");
	position: absolute;
	top: -55px;
	width: 40px;
	height: 44px;
	background-repeat: no-repeat;
}
.sec-oplata-dos {
	padding-top: 80px;
}
.sec-oplata-dos .section-header {
	margin-bottom: 55px;
}
.oplata-text {
	margin-left: 35px;
	margin-right: 16%;
}
.oplata-text-title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.text-sroki {
	margin: 0 auto;
}
@media (max-width: 991.98px) {
	.oplata-text {
		margin-left: 20px;
		margin-right: 0;
	}
}
@media (max-width: 767.98px) {
	.oplata {
		padding: 30px 0;
	}
	.sec-oplata-dos .section-header {
		margin-bottom: 10px;
	}
}
@media (max-width: 575.98px) {
	.sec-pospewi-sdelat {
		height: 400px;
		padding-top: 100px;
	}
	.pospewi-header {
		font-size: 30px;
	}
}
@media (max-width: 414.98px) {
	.sec-pospewi-sdelat {
		background-image: url("../images/oplata/box2.png");
		height: 300px;
		padding-top: 66px;
	}
	.pospewi-header {
		font-size: 18px;
	}
	.pospewi-header:before {
		top: -35px;
		width: 24px;
		height: 30px;
		background-size: contain;
	}
	.oplata {
		flex-direction: column;
		text-align: center;
	}
	.oplata img {
		margin: 0 auto;
	}
	.oplata-text {
		margin-left: 0;
	}
}
/*Oplata - end*/
/*Futbol-Pole - start*/
.sec-futbol-pole {
	padding: 60px 0;
}
.sec-futbol-pole .section-header {
	margin-bottom: 50px;
}
.f-pole-card {
	height: 150px;
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	display: flex;
	width: 755px;
	margin: 0 auto;
}
.f-pole-slider {
	/*width: 265px;*/
}
.f-pole-body {
	padding: 20px;
}
.f-pole-title {
	color: #374759;
	font-size: 20px;
	max-height: 86px;
	overflow-y: auto;
}
.f-pole-desc {
	color: #374759;
}
.f-pole-slider .swiper-container {
	width: 265px;
	height: 100%;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.f-pole-slider .swiper-button-prev:after {
	content: url("../images/pole/prev.png");
}
.f-pole-slider .swiper-button-next:after {
	content: url("../images/pole/next.png");
}
.mb-30p {
	margin-bottom: 30px;
}

.sec-rezinovii {
	padding-bottom: 60px;
}
.sec-rezinovii .section-header {
	margin-bottom: 50px;
}

@media (max-width: 991.98px) {
	.f-pole-card {
		width: 100%;
	}
}
@media (max-width: 767.98px) {
	.f-pole-card {
		height: 140px;
	}
	.f-pole-slider .swiper-container {
		width: 200px;
	}
	.f-pole-title {
		font-size: 16px;
	}
}
@media (max-width: 575.98px) {
	.sec-futbol-pole {
		padding: 50px 0;
	}
	.sec-futbol-pole .section-header {
		margin-bottom: 30px;
	}
	.f-pole-card {
		height: 110px;
	}
	.f-pole-title {
		font-size: 12px;
	}
	.f-pole-desc {
		font-size: 12px;
	}
	.mb-30p {
		margin-bottom: 15px;
	}
	.sec-rezinovii .section-header {
		margin-bottom: 30px;
	}
	.f-pole-body {
		padding: 10px;
	}
}
@media (max-width: 454.98px) {
	.f-pole-slider .swiper-container {
		width: 160px;
	}
	.f-pole-slider .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
		left: 0px;
	}
	.f-pole-slider .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
		right: 0px;
	}
}
/*Futbol-Pole - end*/
/*Futbol-Pole Inside - start*/
.sec-futbol-pole-inside {
	padding-top: 40px;
	padding-bottom: 100px;
}
.sec-futbol-pole-inside .breadcrumb {
	padding: 0;
	background-color: #fff;
	margin-bottom: 40px;
}
.sec-futbol-pole-inside .breadcrumb-item+.breadcrumb-item::before {
	color: #32CC8B;
	content: ">";
	padding-right: 14px;
}
.sec-futbol-pole-inside .breadcrumb {
	font-weight: 500;
	font-size: 14px;
}
.breadcrumb-item a {
	color: #32CC8B;
}
.sec-futbol-pole-inside .breadcrumb-item.active {
	color: #C4C4C4;
}
.sec-futbol-pole-inside .breadcrumb-item+.breadcrumb-item {
	padding-left: 14px;
}
.f-inside-card {
	padding: 30px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 15px;
}
.f-inside-gallery {
	width: 560px;
}
.f-inside-info-title {
	font-weight: 500;
	font-size: 24px;
	color: #374759;
	margin-bottom: 20px;
}
.f-inside-info-desc {
	font-weight: normal;
	font-size: 16px;
	color: #374759;
	margin-bottom: 40px;
}
.f-inside-info {
	padding-left: 40px;
}
.f-inside-gallery-slider {
	padding-top: 40px;
	text-align: center;
}
.uvelichit {
	font-weight: 500;
	font-size: 14px;
	color: #C4C4C4;
	padding-bottom: 20px;
}
.f-inside-gallery-swiper {
	height: 95px;
}
.f-inside-gallery-swiper .swiper-container {
	height: 95px;
	width: 100%;
	position: relative;
}
.f-inside-gallery-swiper .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
    display: block!important;
}
.f-inside-gallery-swiper .swiper-button-prev:after {
	content: url("../images/pole/prev-b.png");
}
.f-inside-gallery-swiper .swiper-button-next:after {
	content: url("../images/pole/next-b.png");
}
.f-inside-gallery-swiper .swiper-container:before {
	content: "";
	position: absolute;
	left: 0;
	background: linear-gradient(270deg, #F7F7F7 -12.03%, rgba(247, 247, 247, 0.0001) -2.49%, #FAFAFA 24.16%);
	width: 100px;
	height: 100%;
	z-index: 2;
}
.f-inside-gallery-swiper .swiper-container:after {
	content: "";
	position: absolute;
	right: 0;
	background: linear-gradient(270deg, #F7F7F7 -12.03%, rgba(247, 247, 247, 0.0001) -2.49%, #FAFAFA 24.16%);;
	width: 100px;
	height: 100%;
	z-index: 2;
	top: 0;
	transform: rotate(180deg);
}

.sec-smotri-takje {
    padding-bottom: 90px;
}
.smotri-header {
    font-size: 20px;
    color: #374759;
    margin-bottom: 20px;
}
.sec-smotri-takje .f-pole-card {
    margin: 0;
    margin-right: 30px;
    height: 110px;
    width: 490px;
    margin-bottom: 30px;
}
.sec-smotri-takje .f-pole-slider .swiper-container {
    width: 195px;
}
.sec-smotri-takje .f-pole-title {
    font-size: 14px;
}
.sec-smotri-takje .f-pole-body {
    padding: 9px 15px;
}
.gallery-big-image {
    width: 558px;
    height: 318px;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 1199.98px) {
    .f-inside-gallery {
        width: 450px;
    }
    .gallery-big-image {
        width: 450px;
    }
}
@media (max-width: 991.98px) {
    .f-inside-gallery {
        width: 100%;
    }
    .gallery-big-image {
        width: 100%;
    }
    .sec-futbol-pole-inside .contact-desc {
        margin-top: 40px;
    }
    .f-inside-info-title {
        font-size: 20px;
    }
    .sec-smotri-takje .f-pole-slider .swiper-container {
        width: 150px;
    }
}
@media (max-width: 767.98px) {
    .sec-futbol-pole-inside .breadcrumb-item+.breadcrumb-item {
        width: calc(100% - 120px);
        height: 23px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sec-futbol-pole-inside {
        padding-top: 25px;
        padding-bottom: 60px;
    }
    .sec-futbol-pole-inside .breadcrumb {
        margin-bottom: 30px;
    }
    .sec-smotri-takje .f-pole-card {
        margin-right: 0;
        width: 100%;
    }
    .sec-smotri-takje .f-pole-slider .swiper-container {
        width: 175px;
    }
    .f-inside-info {
        padding-left: 0;
    }
}
@media (max-width: 575.98px) {
    .f-inside-card {
        padding: 0;
        border: 0;
    }
    .f-inside-info-title {
        font-size: 16px;
    }
    .f-inside-info-desc {
        font-size: 12px;
        margin-bottom: 30px;
    }
    .uvelichit {
        display: none;
    }
    .f-inside-gallery-slider {
        padding-top: 20px;
    }
    .sec-smotri-takje .f-pole-slider .swiper-container {
        width: 160px;
    }
}

/*Futbol-Pole Inside - end*/
/*--------------- Sport areas - start------------------------*/


.sport-area-top-main {
	background: url("../images/sport-area-bg.jpg") no-repeat center / cover;
}

.sport-area-card {
	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 25px;
}
.advantages-trava .spec-info {
	text-align: center;
	font-weight: 600;
	color: #FFFFFF;
	background: #32CC8B;
	border-radius: 19.5px;
	padding: 4px 15px;
	display: block;
	width: max-content;
	margin: 40px auto 20px auto;
}

.advantages-trava .extra-info {
	text-align: center;
}

@media (max-width: 768px) {
	.sport-area-top-main {
		background: #fff;
	}

	.products {
		padding: 50px 0;
	}

	.advantages-trava .spec-info {
		width: auto;
	}
}


/*--------------- Sport areas - end------------------------*/
/*--------------- News - Start------------------------*/

.news {
	padding: 60px 0;
}

.news .title {
	margin-bottom: 40px;
}

.news-item {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	padding: 16px;
	margin-bottom: 20px;
	cursor: pointer;
	color: #374759 !important;
	text-decoration: none;
}
.news-item:hover {
	text-decoration: none;
}
.news-item .news-img {
	margin-right: 25px;
}
.news-item .news-title {
	font-size: 18px;
	padding-bottom: 15px;
}

.news-time {
	display: flex;
	align-items: center;
}

.news-time img {
	margin-right: 5px;
}
.news-time p {
	font-size: 14px;
}

@media (max-width: 450px) {
	.news-item .news-title {
		font-size: 13px;
		padding-bottom: 7px;
	}
	.news .news-item, .news {
		font-size: 12px;
	}
}
/*--------------- News - end------------------------*/
/*--------------- News-item - Start------------------------*/
.news-single {
	padding-bottom: 50px;
}
.news-card {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 30px 40px;
	margin: 50px 0;
}
.news-card .title {
	margin-bottom: 20px;
	text-align: left;
}

.news-card .news-time {
	margin-bottom: 30px;
}

.news-card .text {
	padding-bottom: 20px;
}

.other-news h5 {
	margin-bottom: 25px;
	text-align: center;
}
@media (max-width: 450px) {
	.news-single {
		padding-bottom: 25px;
	}

	.news-card {
		padding: 14px;
	}
	.news-card .title {
		font-size: 18px;
	}

	.news-card .news-item-img {
		width: 100%;
	}
	.news-content .news-time p {
		font-size: 12px;
	}


}

/*--------------- News-item - end------------------------*/
